body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(https://i.pinimg.com/564x/09/d4/c9/09d4c9b7671cae93d1c772ccaf0cbe4d.jpg);}
  
  .titulo {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  .menu {
    background-color: #eee;
    padding: 10px 30px;
    text-align: center;
  }
  
  .menu a {
    margin: 0 20px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  .imagem-banner {
    width: 100%;
  }
  
  .boas-vindas {
    text-align: justify;
    padding: 20px;
    margin: 0 20px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    text-align: center;
  }
  
  .pontos-turisticos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  
  .ponto {
    width: 45%;
    margin: 10px;
    text-align: justify;
  }
  
  .bordaimg {
    border: 2px solid #a68484;
    border-radius: 8px;
  }
#p1{
    margin: 10px 20px; 
    text-decoration: none;
    color: #333;
    font-weight: bold;
    background-color: rgb(221, 155, 153);}